# Dependencias
node_modules/
coverage/

# Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de lock (si el equipo usa distintos gestores, evita conflictos)
pnpm-lock.yaml
yarn.lock

# Archivos de entorno
.env
.env.test
.env.development.local
.env.production.local
.env.local

# Compilación / builds
dist/
build/
.cache/
.tmp/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
